<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Hospitri — Audit</title>
        <base href="<%= baseHref %>" />
    </head>
    <body>
        <%- include('audit-1.html') %>

        <div class="page-break"></div>

        <%- include('audit-2.html') %>
    </body>
</html>
